// start sass parameters part
$black-color: rgb(0, 0, 0);
$red-color: rgb(228,4,43);
$white-color: rgb(255, 255, 255);
$gray-color: rgba(254, 254, 254, 0.79);
$border-color: rgb(176, 176, 176);
@mixin box-look{
  flex: 1;
  min-height: 380px;
  min-width: 260px;
  max-width: 22%;
  margin: 15px;
  position: relative;
  overflow: hidden;
}
//end sass parameters parameters
//start common part
@font-face {
   font-family: Brush;
   src: url(../brush.woff);
}
.main{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
}
.box1, .box3{
  @include box-look;
  box-shadow: -1px 3px 3px 2px rgba(167, 171, 170, 0.3);
}
.box2, .box4{
  @include box-look;
}
.bg-red{
  background-color: $red-color;
}
.bg-white{
  background-color: $white-color;
}
.bg-black{
  position: absolute;
  background-color: $black-color;
  width: 96%;
  height: 290px;
  right: 0px;
  bottom: 12px;
}
.title{
  position: relative;
  top: 10%;
  left: 5%;
}
.small-title{
  color: $red-color;
  font-size: 10px;
}
.big-title{
  letter-spacing: 0.1ex;
  color: $white-color;
  font-size: 16px;
}
.small-title h2{
  margin: 35px 10px;
  font-weight: 750;
}
.big-title h1{
  margin: -25px 10px;
  font-weight: 700;
}
.content{
  margin: 70px auto auto 30px;
}
.subtitle{
  height: 10px;
  border-width: 1px;
  border-color: $border-color;
  border-style: none none groove none;
  font-weight: bolder;
  padding: 2px 0 10px 0;
}
.subtitle:last-child{
  border-style: none;
}
.subtitle p{
  margin: 0;
  font-size: 11px;
  font-weight: 800;
}
.nr-subtitle{
  color: $red-color;
  display: inline-block;
}
.text-subtitle{
  color: $gray-color;
  display: inline-block;
}
.pg-subtitle{
  color: $white-color;
  display: inline-block;
}
.brush h3{
  position: relative;
  font-family: Brush, sans-serif;
  font-size: 110px;
  top: -100px;
  z-index: 1000;
  left: 35%;
}
.brush-color-red h3{
  color: $red-color;
}
.brush-color-white h3{
  color: $white-color;
}
//end common part
//start part for mobile
@media only screen and (min-width: 320px) and (max-width: 900px){
  .disNone{
    display: none;
  }
  .disBlock{
    display: block;
}
}
//end part for mobile
